<div class="page">
    <div class="container">
        <h1 class="title">Najnovije objave</h1>

        <div *ngIf="loading" class="info">Učitavanje...</div>
        <div *ngIf="error" class="error">{{ error }}</div>

        <div class="grid" *ngIf="!loading && !error">
            <a class="card" *ngFor="let v of videos" [routerLink]="['/videos', v.id]">
                <div class="thumb"></div>

                <div class="card-body">
                    <div class="card-title">{{ v.title }}</div>

                    <div class="meta">
                        <span>Autor:</span>
                    
                        <a class="link" [routerLink]="['/users', v.authorUsername]"
                         (click)="$event.stopPropagation()">
                            {{ v.authorUsername }}
                        </a>
                    
                        <span class="dot">•</span>
                        <span>{{ v.createdAt }}</span>
                    </div>


                    <div class="stats">
                        <span>👍 {{ v.likeCount }}</span>
                        <span>💬 {{ v.commentCount }}</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="pager" *ngIf="totalPages > 1">
            <button class="btn" (click)="prevPage()" [disabled]="page === 0">Prethodna</button>
            <span class="pager-text">Strana {{ page + 1 }} / {{ totalPages }}</span>
            <button class="btn" (click)="nextPage()" [disabled]="page + 1 >= totalPages">Sledeća</button>
        </div>
    </div>
</div>